DATATYPES IN PYTHON

1. INTEGER(INT)               -     Integer numbers

In [6]:
x=10
age=17
_xyz=100
print(x,age,_xyz)

print(type(x))
print(type(age))
print(type(_xyz))

10 17 100
<class 'int'>
<class 'int'>
<class 'int'>

2. FLOAT        - DECIMAL NUMBERS

In [8]:
x=10.3
y=78.14
z=90.0
print(x,"\t",y,"\t",z)

print(type(x))
print(type(y))
print(type(z))

10.3 	 78.14 	 90.0
<class 'float'>
<class 'float'>
<class 'float'>

3. COMPLEX -        COMPLEX NUMBERS WITH REAL PART AND IMAGINARY PART

In [12]:
x=3+1j
com=1+0j
print(com)
print(x)

print(type(com))
print(type(x))

(1+0j)
(3+1j)
<class 'complex'>
<class 'complex'>

4. BOOLEAN               - BOOLEAN VALUES: True or False

In [17]:
x=True
y=False
print(x)
print(y)

print(type(x),"\n",type(y))

True
False
<class 'bool'>
 <class 'bool'>

5. None    - TO STORE NULL VALUES

In [19]:
x=None
print(x)

print(type(x))

None
<class 'NoneType'>

6. STRING   - SEQUENCE OF CHARACTERS

In [23]:
name="Achu"
place="Wayanad"
school="GHSS PERLA"
sentence=" Hi all, How are you"
character='A'

print("my name is:",name,"\ni am coming from",place)
print(type(name))
print(type(place))
print(type(sentence))
print(type(character))

my name is: Achu
i am coming from Wayanad
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

* STRING SLICING

In [41]:
name="Python Programming"

print(name[0:9])                          # STARTING POSITION 0 AND STOP POSITION 9(EXCLUSIVE)
print(name[:])                             # IF STARTING AND STOP INDEX IS EMPTY THAT MEANS RETURN THE ENTIRE STRING

print(name[9])                            # RETURNS THE 9 TH CHARACTER
print(name[2])

print(name[3:])                            # STARTING FROM 3 POSITION TILL END
print(name[:7])                            # STARTING IS EMPTY SO IT WILL START FROM BEGINNING AND STOP AT 7 POSITION(7 position value will not be included)

print(name[0:-1])                          # START AT 0 TH POSITION AND STOP AT LAST INDEX(EXCLUSIVE)
print(name[-4:-1])

print(name[0:9:2])                         # START 0 STOP 9 STEP 2-IT WILL SKIP ONE ELEMENT
print(name[3:8:3])

print(name[::-1])
print(name[-3:-7:-1])
print(name[-2:-10:-2])

Python Pr
Python Programming
o
t
hon Programming
Python
Python Programmin
min
Pto r
h
gnimmargorP nohtyP
imma
nmag

* STRING TO INTEGER & INTEGER TO STRING

In [7]:
a="abc123"
x="123"                # STRING
print(type(x))


y=int(x)              # CONVERTED THE STRING TO INTEGER  (ONLY POSSIBLE IF THE STRING IS CONTAINS AN INTEGER VALUE)
print(y)
print(type(y))         #INTEGER


#z=int(a)            # NOT POSSIBLE BECAUSE THE STRING CONTAINS LETTERS ALSO

num=1234
string=str(num)        # converted the integer to string
print(string)
print(type(string))

<class 'str'>
123
<class 'int'>
1234
<class 'str'>

* STRING METHODS - Case Conversion Methods

In [ ]:
text="HEllo world"
print(text)

print(text.upper())        # CONVERTS ALL CHARACTERS TO UPPERCASE

print(text.lower())        # CONVERTS ALL CHARACTERS TO LOWERCASE

print(text.capitalize())    # Capitalizes the first character

print(text.title())         # Converts first letter of each word to uppercase

print(text.swapcase())      # Swaps case of all letters

HELLO WORLD

In [ ]:
l=[1,2,4]
l.append(5)
print(l)


s="hello"
print(s.upper())
print(s)

[1, 2, 4, 5]
HELLO

* STRING METHODS - Search and Check Methods

In [5]:
text="hello welcome to python programming python"

print(text.startswith("hello"))                      # Checks if string starts with substring hello, return true or false

print(text.endswith("hello"))                       #   Checks if string ends with substring hello, return true or false

print(text.find("o"))                          # Returns index of first occurrence of substring (-1 if not found)
print(text.find("Z"))  
print(text.find("python"))

print(text.index('o'))                             # Returns index of first occurrence (raises error if not found)

print(text.count('o'))                            # Counts occurrences of substring 'o'
 
print(text.isalpha())                            # Checks if all characters are letters , if yes returns true otherwise false
print(text.isdigit())                             # Checks if all characters are digits, if yes returns true otherwise false
print(text.isspace())                             # Checks if all characters are whitespace, if yes returns true otherwise false

print(text.islower())                              # Checks if all characters are lowercase
print(text.isupper())                              # Checks if all characters are uppercase
print(text.isalnum())                               # Checks if all characters are alphanumeric

True
False
4
-1
17
4
6
False
False
False
True
False
False

* STRING METHODS - Modification Methods

In [2]:
text="    python  programming     "

print(text.strip())                        # REMOVES WHITESPACE FROM BOTH SIDES

print(text.rstrip())                       # REMOVES WHITESPACES FROM THE RIGHT SIDE

print(text.lstrip())                       # REMOVES WHITESPACES FROM THE LEFT SIDE

print(text.split(" "))                      # SPLIT A TEXT USING WHITESPACE
print(text.split("y"))                       # SPLITTING A TEXT USING THE SUBSTRING 'y'
print(text.split("p")) 

print(text.replace('p',' '))                # REPLACE EACH OCCURENCE OF substring 'p'  with whitespace
print(text.replace('python','good'))


text = "python"
result = "*".join(text)                           # Inserts '-' between each character
print(result)

python  programming
    python  programming
python  programming
['', '', '', '', 'python', '', 'programming', '', '', '', '', '']
['    p', 'thon  programming     ']
['    ', 'ython  ', 'rogramming     ']
     ython   rogramming
    good  programming
p*y*t*h*o*n

* STRING FUNCTIONS

In [1]:
string="python"

print(len(string))                   # Returns length of string

print(ord('p'))                      # Returns ASCII/Unicode code of a character

print(chr(112))                      # Returns character from ASCII/Unicode code

6
112
p

* STRING FORMATTING

In [27]:
name='Ammu'
wish=f"Hello {name}"
print(wish)

age=29
place="kzd"
print(f"Her name is {name} and she is {age} years old. She is living at {place}")

Hello Ammu
Her name is Ammu and she is 29 years old. She is living at kzd

SEQUENCE DATA TYPES IN PYTHON

7. LIST

* LIST IS AN ORDERED COLLECTION OF ELEMENTS

* IT CAN CONTAIN DIFFERENT TYPES OF VALUES LIKE INTEGERS, FLOATING POINT NUMBERS, BOOLEAN VALUES, STRING, NULL VALUES , COMPLEX VALUES.

* A LIST CAN CONTAIN ANOTHER LISTS

* LIST CAN CONTAIN DUPLICATE VALUES

* LIST IS CHANGEABLE (VALUES CAN BE CHANGED AFTER CREATION)

In [3]:
l=[1,2,3,4,5,6]                   # list of numbers , only contain integer values
l1=[3,"hello",4.6,None,'A',3,True, False,4,"hi",[1,2,3,4],True,["hi","hoi"],2+1j]         # LIST CONTAINING INTEGERS , FLOATING POINT VALUES,NULL, BOOLEAN VALUES,LISTS,STRINGS
print(l1)
print(type(l1))
print(l)
print(type(l))

[3, 'hello', 4.6, None, 'A', 3, True, False, 4, 'hi', [1, 2, 3, 4], True, ['hi', 'hoi'], (2+1j)]
<class 'list'>
[1, 2, 3, 4, 5, 6]
<class 'list'>

* LIST SLICING

* Same as String slicing

In [5]:
l=["hello","hi",23,45.6,True,12,78,False,[1,2,3,4,5,6]]

print(l[3])                                    # IT WILL RETRIEVE THE VALUE FROM THE POSITION 6
print(l[1])                                    # IT WILL RETRIEVE THE VALUE FROM THE POSITION 1

print(l[-1])                                   # IT WILL RETRIEVE THE VALUE FROM THE LAST POSITION (NEGATIVE INDEXING)
print(l[-2])                                   # IT WILL RETRIEVE THE VALUE FROM THE POSITION -2

print(l[2:4])                                  # IT STARTS FROM 2 POSITION AND END AT 3  (OUTPUT: [23,45.5], 4 th position value will not be included)
print(l[-5:-1])

print(l[-1:-6:-1])
print(l[::-1])                                 # IT INCLUDES THE ENTIRE STRING (BACKWARD)
print(l[-1::-1])                               # IT INCLUDES THE ENTIRE STRING  (BACKWARD)
print(l[:-1])

print(l[-1][0:3])                      # Accessing the elements of inner list

45.6
hi
[1, 2, 3, 4, 5, 6]
False
[23, 45.6]
[True, 12, 78, False]
[[1, 2, 3, 4, 5, 6], False, 78, 12, True]
[[1, 2, 3, 4, 5, 6], False, 78, 12, True, 45.6, 23, 'hi', 'hello']
[[1, 2, 3, 4, 5, 6], False, 78, 12, True, 45.6, 23, 'hi', 'hello']
['hello', 'hi', 23, 45.6, True, 12, 78, False]
[1, 2, 3]

* CHANGING LIST ELEMENTS

                    * It can be done using item assignment

In [12]:
ls=["hello","hi",23,45.6,True,12,78,False]

ls[0]=34                    # 0th value will be changed from "hello" to 34
print(ls)

ls[-1]="python programming"  # Last item will be changed to the given string
print(ls)

[34, 'hi', 23, 45.6, True, 12, 78, False]
[34, 'hi', 23, 45.6, True, 12, 78, 'python programming']

* LIST METHODS

* To add new elements into the list : append(element) , insert(position,element) , extend()

                * append() : To insert a single element , the element will be inserted at the last position

In [ ]:
lis=[23,45,78,90,"hello",True]

lis.append(89)
print(lis)

lis.append("hi")
print(lis)

lis.append([1,2,3])
print(lis)

[23, 45, 78, 90, 'hello', True, 89]
[23, 45, 78, 90, 'hello', True, 89, 'hi']
[23, 45, 78, 90, 'hello', True, 89, 'hi', [1, 2, 3]]

               * insert()  - inserting an element into the specified position

In [5]:
lis=[23,45,78,90,"hello",True]

lis.insert(0,"hello")                         # inserting "hello" to the 0 th position
print(lis)

lis.insert(-1,False)
print(lis)

lis.insert(-2,[1,2,3,4])
print(lis)

['hello', 23, 45, 78, 90, 'hello', True]
['hello', 23, 45, 78, 90, 'hello', False, True]
['hello', 23, 45, 78, 90, 'hello', [1, 2, 3, 4], False, True]

              * extend() - To extend a list with the elements of another list or tuple

In [ ]:
l1=[1,2,3,4,"hello"]
l2=[5,6,7,8,9]
t=(10,11,12,13)

l1.extend(l2)             # added the elements of l2 to the list l1
print(l1)

l1.extend(t)              # added the elements of the tuple t to the list l1
print(l1)

[1, 2, 3, 4, 'hello', 5, 6, 7, 8, 9]
[1, 2, 3, 4, 'hello', 5, 6, 7, 8, 9, 10, 11, 12, 13]

* LIST METHODS- To remove the elements from the list

         *  remove(element)  : To remove the specified element

In [12]:
l1=[1,2,3,4,"hello",34,2,2,1]

l1.remove("hello")                        #removes "hello" from the list
print(l1)

l1.remove(1)                             # list contains two 1 s, and remove will removes the first occurence of 1
print(l1)

[1, 2, 3, 4, 34, 2, 2, 1]
[2, 3, 4, 34, 2, 2, 1]

        * pop(position)- deletes the value from the specified position

In [15]:
l1=[1,2,3,4,"hello",34,2,2,1]

l1.pop(1)                             # removes the element from the first position
print(l1)

l1.pop(-1)                            # removes the element from the last position
print(l1)

l1.pop()                              # if we do not specify the position , then it will remove the value from the last position
print(l1)

[1, 3, 4, 'hello', 34, 2, 2, 1]
[1, 3, 4, 'hello', 34, 2, 2]
[1, 3, 4, 'hello', 34, 2]

            * del keyword   - It can be used to delete a specified item and also to delete an entire list

In [ ]:
l1=[1,2,3,4,"hello",34,2,2,1]

del l1[0]                            # removes the element from the 0 th position
print(l1)


del l1[3]                            # removes the element from the 3 rd position 
print(l1)

[2, 3, 4, 'hello', 34, 2, 2, 1]
[2, 3, 4, 34, 2, 2, 1]

In [ ]:
del l1                          # delete the entire list

            * clear() - To delete only the values of the list, list will be there.

In [2]:
l1=[1,2,3,4,"hello",34,2,2,1]

l1.clear()
print(l1)

[]

* Sorting a List - sort() method

In [ ]:
l1=[34,2,67,12,90,44]
l1.sort()                                # SORTING THE LIST IN ASCENDING ORDER
print(l1)

l2=["rose","jasmine","hibiscus","lotus","orchid","marigold"]
l2.sort()          # sorting strings in ascending order (A-Z)
print(l2)

l3=["rose","Jasmine","hibiscus","lotus","Orchid","marigold"]
l3.sort()           # By default the sort() method is case sensitive, 
print(l3)           # resulting in all capital letters being sorted before lower case letters

[2, 12, 34, 44, 67, 90]
['hibiscus', 'jasmine', 'lotus', 'marigold', 'orchid', 'rose']
['Jasmine', 'Orchid', 'hibiscus', 'lotus', 'marigold', 'rose']

In [ ]:
l1=[34,2,67,12,90,44]
l1.sort(reverse=True)                                # SORTING THE LIST IN DESCENDING ORDER
print(l1)

l2=["rose","jasmine","hibiscus","lotus","orchid","marigold"]
l2.sort(reverse=True)          # sorting strings in descending order (Z-A)
print(l2)

l3=["rose","Jasmine","hibiscus","lotus","Orchid","marigold"]
l3.sort(reverse=True)            
print(l3)

[90, 67, 44, 34, 12, 2]
['rose', 'orchid', 'marigold', 'lotus', 'jasmine', 'hibiscus']
['rose', 'marigold', 'lotus', 'hibiscus', 'Orchid', 'Jasmine']

* Reversing a string -reverse() method

In [9]:
l1=[34,2,67,12,90,44]
l1.reverse()
print(l1)

[44, 90, 12, 67, 2, 34]

* Copying a List - copy() method

In [12]:
l1=[10,20,30,40,50]
l2=l1                 # copying, but changes made in original list will affect the copied list
print("Original list:",l1)
print("Copied list:",l2)

l1[0]=16
print("Original list:",l1)
print("Copied list:",l2)
print("Changes made in list1 affected the list2. Both changed")

Original list: [10, 20, 30, 40, 50]
Copied list: [10, 20, 30, 40, 50]
Original list: [16, 20, 30, 40, 50]
Copied list: [16, 20, 30, 40, 50]
Changes made in list1 affected the list2. Both changed

In [15]:
l1=[10,20,30,40,50]
l2=l1.copy()
print("Original list:",l1)
print("Copied list:",l2)


l1[0]=16
print("Original list:",l1)
print("Copied list:",l2,"\n")
print("Changes made in list1 not affected the list2.")

Original list: [10, 20, 30, 40, 50]
Copied list: [10, 20, 30, 40, 50]
Original list: [16, 20, 30, 40, 50]
Copied list: [10, 20, 30, 40, 50]

Changes made in list1 not affected the list2.

* Joining two lists

In [17]:
list1=[1,2,3,4,5]
list2=[6,7,8,9,10]
list3=list1+list2
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

* count() and index() Methods

In [20]:
lis=[1,2,3,4,5,1,45,34,89,1,2,7]
print(lis.count(1))                 # returns the count of 1
print(lis.count(34))                # returns the count of 34

3
1

In [ ]:
lis=[45,"hello",'a',True,1,False]         
print(lis.index("hello"))                 # returns the index of the specified element
print(lis.index(False))
print(lis.index(1))                       # True is considered as 1, so it will return the position of 1

1
5
3

* LIST FUNCTIONS

         * len() - To find the length of the list(no of characters)

         * sum() - To find the sum of elements (only for list with integer or float values)

         * max() - To find the maximum element from the list

         * min() - To find the minimum element from the list

In [5]:
l=["hello","hi",34,78,True]
l1=[20,30,40,10]

print(len(l))

print(sum(l1))

print(max(l1))

print(min(l1))

5
100
40
10

8. TUPLE

* Tuples are used to store multiple items in a single variable.

* A tuple is a collection which is ordered and unchangeable.

* Tuples are written with round brackets ( ).

* Python tuple is immutable.

* allow duplicate values.

* Creating a tuple:

         * Tuple items can be of any data type

         
         * To create a tuple with only one item, you have to add a comma after the item,   otherwise Python willnot recognize it as a tuple.

In [ ]:
t=(1,2,3,"hello",[1,2],(1,5),"hi",1,True) 
print(type(t))
print(t)

<class 'tuple'>
(1, 2, 3, 'hello', [1, 2], (1, 5), 'hi', 1, True)

* Dont create a tuple of one element without adding a comma after element, because it will not be considered as tuple by python .

In [15]:
t=(1)                       # not a tuple, its an int
print(type(t))
tnew=(1,)
print(type(tnew))


t1=("hello")                 # not a tuple , its string
print(type(t1))
t1new=("hello",)
print(type(t1new))


t2=(True)                    # not a tuple, its bool
print(type(t2))
t2new=(True,)
print(type(t2new))


t3=([1,2,3])
print(type(t3))
t3new=([1,2,3],)
print(type(t3new))

<class 'int'>
<class 'tuple'>
<class 'str'>
<class 'tuple'>
<class 'bool'>
<class 'tuple'>
<class 'list'>
<class 'tuple'>

* It is also possible to use the tuple() constructor to make a tuple.

In [21]:
l=[1,2,3,4,5]
t=tuple(l)              # list will be converted to tuple
print(t)

t1=tuple((1,2,3,4,5,6,7,8,9,"hello"))
print(t1)

t2=tuple({1,4,6,8,"hi"})
print(t2)

t3=tuple(["hello","hi",2+8j,False,1])
print(t3)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 'hello')
(1, 4, 6, 8, 'hi')
('hello', 'hi', (2+8j), False, 1)

* ACCESSING ELEMENTS FROM TUPLE, INDEXING/SLICING

In [22]:
tup=(56,45.5,"python","programming",[True,False])

print(tup[3])                    # prints the 3 rd position value

programming