---- 
# Variables in Python 
----
- A variable is a name that refers to a value stored in memory.
- You can assign values using the '=' operator. Python is dynamically typed.

> Variables are containers for storing data values.

**Rules for naming variables:**
1. Must start with a letter or underscore `_`
2. Cannot start with a number
3. Can contain letters, digits, and underscores
4. Case-sensitive (`Name` ≠ `name`)
5. Should not use Python keywords (`if`, `for`, `class`, etc.)

In [22]:
x = 10
name = 'Alice'
_price = 99.99
is_active = True
print(x, name, _price, is_active)

10 Alice 99.99 True

In [ ]:
x = 10       # An integer variable
y = 3.14     # A float variable
name = "Alice"  # A string variable
flag = True     # A boolean variable

# Points to remember:
# - Variable names should start with a letter or underscore (_).
# - Cannot start with a number or include spaces/special characters.
# - Variable names are case-sensitive ("Score" and "score" are different).
# - Avoid using Python keywords (e.g., if, for, while).

5 8.2 hello
100 100 100

In [24]:
# Show all variable types
print(type(x), type(y), type(name), type(flag))  # <class 'int'> <class 'float'> <class 'str'> <class 'bool'>

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [35]:
# Multiple assignment
a, b, c = 5, 8.2, "hello"
print(a, b, c)
# Assigning the same value to multiple variables
p = q = r = 100
print(p, q, r)

5 8.2 hello
100 100 100

### Invalid Examples

In [25]:
# 2name = 'John'  # Invalid
# my-name = 'Alex' # Invalid
# class = 'A'     # Invalid

In [40]:
# Assign your name, age, and city to variables.
# Solution
name = "Alex"
age = 25
city = "Delhi"
print(name, age, city)

Alex 25 Delhi

### Variable Assignment in Python
In Python, you assign a value to a variable using the `=` operator.

In [51]:
x = 10        # Assigns the integer 10 to variable x
name = "Sam"  # Assigns string 'Sam' to variable name
is_valid = False  # Assigns boolean False to variable is_valid

### Declaration and Initialization of Variables
Python does not require explicit declaration of variables before assigning.

A variable is created when you first assign a value to it.

Initialization means assigning an initial value during the creation.

In [52]:
age = 25  # variable age is declared and initialized with 25

### Re-declaring Variables in Python
Variables can be re-declared (reassigned) with new values anytime.

Python variables are dynamically typed, so the type can change.

In [53]:
a = 10
a = "Hello"  # a now contains a string, previous integer value replaced
print(a)  # Output: Hello

Hello

### Python Assign Values to Multiple Variables
You can assign the same value to multiple variables in one line.

In [54]:
x = y = z = 100
print(x, y, z)  # Output: 100 100 100

100 100 100

# Assigning Different Values to Multiple Variables
Assign multiple values to multiple variables in a single statement.

In [55]:
a, b, c = 1, 2.5, "Python"
print(a, b, c)  # Output: 1 2.5 Python

1 2.5 Python

# Can We Use the Same Name for Different Types?
Yes, Python allows a variable to reference objects of different types at different times.

The type is determined dynamically by the value currently assigned.

But avoid reusing variable names for very different data types within the same scope to maintain code clarity.

In [56]:
x = 5      # x is an int
x = "Hi"   # x is now a string

# How Does the + Operator Work with Variables?
The + operator performs addition for numeric types (int, float).

For strings, + concatenates (joins) them.

In [57]:
a = 10
b = 20
print(a + b)    # Output: 30 (addition)

s1 = "Hello "
s2 = "World"
print(s1 + s2)  # Output: Hello World (concatenation)

30
Hello World

Using + between incompatible types (like string and int) causes an error.

You can only use + with compatible types or after converting.

Example of error:

python
"Age: " + 25   # TypeError

In [58]:
"Age: " + str(25)  # Output: Age: 25 (casting int to string)

'Age: 25'

# Python Keywords
Keywords are reserved words with special meaning in Python that cannot be used as variable names.

Examples: if, else, while, for, def, class, import, True, False, None, etc.

In [59]:
# To see all keywords programmatically:

import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

---- 
# Constants in Python 
----
- Python doesn't have built-in constant types.
- Convention: Write constants in uppercase, e.g., PI = 3.14

In [36]:
PI = 3.14159     # Mathematical constant (by naming convention)
SPEED_OF_LIGHT = 299_792_458  # Constant value for speed of light (m/s)
# Normally, constants are defined at the top of your file.

- Good practice: Use uppercase letters and separate words with underscores.
- Once defined, do not change constant values in your code.

> Python doesn’t have true constants, but by convention we use **UPPERCASE names** for constants.

In [26]:
PI = 3.14159
GRAVITY = 9.8
MAX_USERS = 100
print(PI, GRAVITY, MAX_USERS)

3.14159 9.8 100

In [42]:
# Define a constant for the maximum marks in an exam.
MAX_MARKS = 100
print(MAX_MARKS)

100

---- 
# Data Types in Python 
----

In [27]:
a = 10
b = 3.14
name = 'Shahma'
is_online = True
print(type(a), type(b), type(name), type(is_online))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [37]:
# int: Whole numbers
number_of_students = 30
print("int:", type(number_of_students))

# float: Numbers with decimals
temperature = 36.6
print("float:", type(temperature))

# str: Sequence of characters (strings)
college_name = "National College"
print("str:", type(college_name))

# bool: Boolean values (True or False)
is_active = False
print("bool:", type(is_active))

int: <class 'int'>
float: <class 'float'>
str: <class 'str'>
bool: <class 'bool'>

In [41]:
# Print the type of each variable: 99, 52.0, "Python", True
# Solution
print(type(99))         # int
print(type(52.0))       # float
print(type("Python"))   # str
print(type(True))       # bool

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

---- 
# Type Conversion and Casting 
----

In [38]:
# Sometimes you need to convert one type to another (casting).

x = "42"
y = int(x)           # String to int
print("Converted:", y, type(y))

z = 77
w = float(z)         # Int to float
print(w, type(w))

n = 3.14159
str_n = str(n)       # Float to string
print(str_n, type(str_n))

# Boolean conversions
flag = 1
print(bool(flag))    # True, because 1 is truthy
flag = 0
print(bool(flag))    # False, because 0 is falsy

# Points to remember:
# - Use int(), float(), str(), bool() for conversions.
# - Invalid conversions (e.g., int("hello")) give errors.

Converted: 42 <class 'int'>
77.0 <class 'float'>
3.14159 <class 'str'>
True
False

In [28]:
x = 10
y = 2.5
z = x + y
print(z, type(z))

12.5 <class 'float'>

In [29]:
a = 5.9
b = int(a)
print(b)

c = '25'
d = int(c)
print(d)

e = bool(0)
f = bool(10)
print(e, f)

5
25
False True

In [44]:
# Convert the integer 17 to float and print.
n = 17
n_float = float(n)
print(n_float)   # 17.0

17.0

In [43]:
# Assign 10 to a, 20.5 to b, and "School" to c in a single line.
# Solution
a, b, c = 10, 20.5, "School"
print(a, b, c)

10 20.5 School

In [45]:
# Convert the string "123" to an integer and add 7.
s = "123"
num = int(s)
print(num + 7)   # 130

130

In [47]:
# What is the result of bool(0) and bool("hi")?
# Solution
print(bool(0))      # False
print(bool("hi"))   # True

False
True

---
#  Arithmetic Operations
---

In [30]:
a = 7
b = 3
print('Addition:', a + b)
print('Subtraction:', a - b)
print('Multiplication:', a * b)
print('Division:', a / b)
print('Floor Division:', a // b)
print('Modulus:', a % b)
print('Exponentiation:', a ** b)

Addition: 10
Subtraction: 4
Multiplication: 21
Division: 2.3333333333333335
Floor Division: 2
Modulus: 1
Exponentiation: 343

In [46]:
# Using a=12, b=4, print their sum, difference, product, and division.
# Solution
a = 12
b = 4
print(a + b)   # 16
print(a - b)   # 8
print(a * b)   # 48
print(a / b)   # 3.0

16
8
48
3.0

# Simple Exercises

In [31]:
PI = 3.14159
radius = float(input('Enter radius: '))
area = PI * radius ** 2
print('Area:', area)

Area: 9852.02624

In [48]:
# Take two numbers as input and print their sum.
# Solution
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
print("Sum:", num1 + num2)

Sum: 100

In [32]:
a = input('Enter a number: ')
b = int(a)
print('After casting:', b, type(b))

After casting: 56 <class 'int'>

In [33]:
x = int(input('Enter first number: '))
y = int(input('Enter second number: '))
print('Sum:', x + y)
print('Difference:', x - y)
print('Product:', x * y)
print('Quotient:', x / y)

Sum: 112
Difference: -22
Product: 3015
Quotient: 0.6716417910447762

In [49]:
# Try converting "hello" to int and handle the error.
s = "hello"
try:
    print(int(s))
except ValueError as e:
    print("Error:", e)

Error: invalid literal for int() with base 10: 'hello'

In [34]:
a = bool(0)
b = bool(10)
c = bool('')
d = bool('Python')
print(a, b, c, d)

False True False True

In [39]:
# ---- Simple Exercises ----

# Arithmetic operations
a = 12
b = 5
print("Sum:", a + b)
print("Product:", a * b)
print("Division:", a / b)
print("Floor Division:", a // b)
print("Exponent:", a ** 2)
print("Modulus:", a % b)

# Type casting exercise
age = "23"
age2 = int(age) + 7          # Cast string to integer and add 7
print("Age after 7 years:", age2)

price = 199.99
price_str = str(price)       # Convert float to string
print("Price string:", price_str)

active = "True"
active_bool = bool(active)   # Any non-empty string is True
print("Active (bool):", active_bool)

Sum: 17
Product: 60
Division: 2.4
Floor Division: 2
Exponent: 144
Modulus: 2
Age after 7 years: 30
Price string: 199.99
Active (bool): True

In [50]:
# Print the type of each variable: 99, 52.0, "Python", True
var1 = 99
var2 = 52.0             
var3 = "Python"
var4 = True
print(type(var1))  # <class 'int'>
print(type(var2))  # <class 'float'>
print(type(var3))  # <class 'str'>
print(type(var4))  # <class 'bool'>

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

## Points to Remember
1. Python variables are mutable (their values can be changed).
2. Constants are written in uppercase and should not be changed.
3. Data types can be checked with `type()`.
4. Type casting helps change data types as needed. Type casting allows controlled conversion.
5. Python variables are dynamically typed.
6. Always validate `input()` since it returns string.